.fondo {
    // background-color: black;
    // color: white;
}

.fondo2 {
    // background-color: black;
    // color: white;
    font-size: 150%;
}

.icono {
    font-size: 200%;
}

.ON {
    font-size: 50%;
    margin-left: 20%;
    color: #D5D5D5;
}